openapi: 3.1.0
info:
  title: Ongaki Cloud API
  version: 1.0.0
servers:
  - url: https://api.ongaki.cloud/v1
security:
  - bearerAuth: []
  - apiKeyAuth: []
paths:
  /tenants:
    post:
      summary: Create tenant account
      operationId: createTenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
  /projects:
    get:
      summary: List projects
      operationId: listProjects
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
    post:
      summary: Create project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
  /projects/{projectId}/deployments:
    post:
      summary: Create deployment from uploaded artifact or Git ref
      operationId: createDeployment
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
      responses:
        '202':
          description: Deployment accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    get:
      summary: List deployments
      operationId: listDeployments
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Deployment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'
  /projects/{projectId}/domains:
    post:
      summary: Add a custom domain
      operationId: addDomain
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hostname]
              properties:
                hostname:
                  type: string
                  example: app.example.com
      responses:
        '201':
          description: Domain added
  /projects/{projectId}/logs:
    get:
      summary: Stream or query deployment logs
      operationId: queryLogs
      parameters:
        - $ref: '#/components/parameters/projectId'
        - name: since
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Logs
  /billing/usage:
    get:
      summary: Get current billing cycle usage
      operationId: getUsage
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'
  /billing/invoices:
    get:
      summary: List invoices
      operationId: listInvoices
      responses:
        '200':
          description: Invoices
  /payments/mpesa/stk-push:
    post:
      summary: Initiate M-Pesa STK push wallet top-up
      operationId: initiateMpesaStk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phoneNumber, amount, currency]
              properties:
                phoneNumber:
                  type: string
                  example: '254712345678'
                amount:
                  type: number
                  example: 25
                currency:
                  type: string
                  example: KES
      responses:
        '202':
          description: STK request sent
  /payments/stripe/checkout:
    post:
      summary: Create Stripe Checkout session
      operationId: createStripeCheckout
      responses:
        '200':
          description: Checkout URL
  /payments/crypto/address:
    post:
      summary: Create crypto deposit address
      operationId: createCryptoDepositAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, network]
              properties:
                asset:
                  type: string
                  enum: [BTC, ETH, USDT]
                network:
                  type: string
                  enum: [bitcoin, ethereum, tron]
      responses:
        '201':
          description: Deposit address
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Ongaki-API-Key
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    CreateTenantRequest:
      type: object
      required: [name, slug, ownerEmail]
      properties:
        name:
          type: string
          example: Acme Ltd
        slug:
          type: string
          example: acme
        ownerEmail:
          type: string
          format: email
    Tenant:
      type: object
      required: [id, slug, name, status]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        status:
          type: string
    CreateProjectRequest:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
        framework:
          type: string
          default: auto
        repositoryUrl:
          type: string
    Project:
      type: object
      required: [id, tenantId, slug, name]
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        framework:
          type: string
    CreateDeploymentRequest:
      type: object
      required: [sourceUri]
      properties:
        sourceUri:
          type: string
          example: s3://ongaki-artifacts/tenant/acme/projects/web/source.zip
        commitSha:
          type: string
        environment:
          type: object
          additionalProperties:
            type: string
    Deployment:
      type: object
      required: [id, projectId, status, sourceUri]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, building, deploying, ready, failed, rolled_back]
        sourceUri:
          type: string
        imageUri:
          type: string
    UsageSummary:
      type: object
      properties:
        currency:
          type: string
          example: USD
        total:
          type: number
        dimensions:
          type: array
          items:
            type: object
            properties:
              dimension:
                type: string
              quantity:
                type: number
              cost:
                type: number

